@charset "UTF-8";

/* Configurações Gerais */
.superinfo {
    font-size: 0.9em;
}

@media (max-width: 560px) {
    .superinfo {
        justify-content: space-around;
    }
    
    .superinfo p:last-child {
        display: none;
    }

    .sobre-info img:nth-child(3) {
        display: none;
    }

    .products-section h3 {
        font-size: 1.6em;
    }

    .benefits {
        padding: 0;
    }
}

/* fix problem */
@media (max-width: 510px) {
    .newsetter-info {
        text-align: center;
        margin: 0 0 10px 0;
    }
}

@media (max-width: 410px) {
    .superinfo {
        font-size: 0.8em;
    }

    .menu li > a {
        font-size: 1.05em;
    }

    h1 {
        font-size: 2.4em;
    }

    .sobre h2, .products h2 {
        font-size: 2.2em;
    }
    
    .sobre-info div {
        font-size: 1.07em;
    }

    .newsetter-form input[type=submit] {
        font-size: 1.3em;
    }
}

@media (max-width: 390px) {
    .prata {
        margin: 10px 0 0 0;
    }

    footer {
        font-size: 1.1em;
    }
}