@charset "UTF-8";

/* Estrutura */
.estrutura {
    display: grid;
    grid: 
    "header header header header header"
    ". sidenav content ads ."
    "footer footer footer footer footer"
    / 1fr auto minmax(auto, 1200px) 300px 1fr;
    justify-content: center;
}

/* Cabeçalho */
.header nav {
    max-width: 310px;
    width: 100%;
}

.header nav a {
    padding: 10px;
    font-size: 1.2em;
}

/* Barra de navegação */
.sidenav {
    display: grid;
    place-content: start center;
}

.sidenav img {
    max-width: 150px;
    width: 10vw;
    margin: 0 0 30px 0;
    padding: 30px;
}

/* Conteúdo Principal */
.content {
    padding: 30px 15px;
}

.content > p, .information p {
    font-size: 1.2em;
}

.title h1 {
    font-size: 3.9em;
}

.title p {
    font-size: 1.05em;
}

.content .emphasis {
    font-size: 1.05em;
}

.quote p {
    font-size: 1.3em;
}

.attributes li {
    font-size: 1.2em;
}

/* Anúncios */
.ads {
    align-content: start;
    grid-template-columns: 1fr;
}

/* Rodapé */
.footer {
    font-size: 1.3em;
}