@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600&display=swap');

/* Animações */
@keyframes arrow {
    from {
        right: 30px;
    }
    to {
        right: 20px;
    }
}

/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Vollkorn', serif;
    font-weight: 400;
}

:root {
    --color-dark-purple: #8844ee;
    --color-light-purple: #b07dfb;
    --color-dark-purple-c4: #8844eec4;
}

/* Estrutura */
.estrutura {
    display: grid;
    grid: 
    "header"
    "sidenav"
    "content"
    "ads"
    "footer";
}

/* Cabeçalho */
.header {
    grid-area: header;
    height: 150px;
    display: grid;
    place-items: center;
    row-gap: 15px;
    padding: 10px 0;
    background-image: linear-gradient(to right, var(--color-dark-purple), var(--color-light-purple));
}

.header .logo {
    max-width: 250px;
    width: 60%;
    min-width: 220px;
}

.header nav {
    max-width: 290px;
    width: 65%;
    min-width: 260px;
    margin: 0 10px;
}

.header nav ul {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
    list-style-type: none;
}

.header nav a {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 1.05em;
    font-size: clamp(1em, 0.3em + 3vw, 1.15em);
    text-decoration: none;
    color: white;
    transition: .1s
}

.header a:hover {
    background-color: rgba(0, 0, 0, 0.445);
}

/* Barra de navegação */
.sidenav {
    grid-area: sidenav;
    position: relative;
    padding-left: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    display: flex;
}

.sidenav::before {
    content: "➡";
    position: absolute;
    top: -3px;
    right: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-dark-purple);
    animation: arrow .5s ease-in 0s infinite alternate;
}

.sidenav img {
    width: 100px;
    margin: 30px 30px 30px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.24);
    transition: .1s ease-out;
}

.sidenav img:hover {
    background-color: var(--color-dark-purple-c4);
}

/* Conteúdo Principal */
.content {
    grid-area: content;
    display: grid;
    row-gap: 30px;
    padding: 20px;
}

.content > p, .information p {
    font-size: 1.1em;
    line-height: 1.7em;
    color: #555;
}

.content img {
    align-self: end;
    width: 100%;
    border-radius: 6px;
}

.title {
    color: var(--color-light-purple);
}

.title h1 {
    font-size: 3.75em;
    font-weight: 700;
    line-height: 1;
}

.title p {
    font-size: 0.85em;
    font-style: italic;
}

.characteristics {
    display: flex;
}

.characteristics-item {
    width: 85px;
    height: 105px;
    border-radius: 6px 6px 10px 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.24);
    background-image: linear-gradient(135deg, var(--color-dark-purple), var(--color-light-purple));
}

.kg {
    margin-right: 30px;
}

.characteristics span {
    display: grid;
    place-items: center;
    color: var(--color-light-purple);
}

.number {
    height: 70%;
    font-size: 3em;
}

.label {
    height: 30%;
    border-radius: 0 0 6px 6px;
    background-color: white;
}

.content .emphasis {
    max-width: 300px;
    font-size: 0.9em;
    font-style: italic;
    color: var(--color-light-purple);
}

.quote, .attributes {
    align-self: start;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(135deg, var(--color-dark-purple), var(--color-light-purple));
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.24);
    color: white;
}

.quote p {
    max-width: 900px;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.5;
}

.attributes li {
    list-style-type: none;
    font-family: Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
}

.attributes li + li {
    border-top: 2px solid #af7bfb;
}

.information p + p {
    margin-top: 30px;
}

/* Anúncios */
.ads {
    grid-area: ads;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 30px;
    padding: 30px;
}

.ads img {
    width: 100%;
    border-radius: 5px;
}

/* Rodapé */
.footer {
    grid-area: footer;
    height: 135px;
    display: grid;
    place-items: center;
    padding: 10px;
    background-image: linear-gradient(to right, var(--color-dark-purple), var(--color-light-purple));
    text-align: center;
    color: white;
}