@charset "UTF-8";

/* Tablets em modo retrato */
@media screen and (min-width: 600px) {
    /* Cabeçalho */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }
    
    .header .logo {
        width: 40%;
    }
    
    .header nav {
        width: 270px;
    }

    /* Conteúdo Principal */
    .content {
        display: grid;
        grid: 
        "title characteristics"
        "introduction introduction"
        "wolf-1 emphasis"
        "wolf-1 wolf-2"
        "p1 p2"
        "quote quote"
        "attributes information"
        "wolf-3 wolf-3"
        / 1fr 1fr;
        gap: 30px;
        padding: 30px;
    }

    .content > p, .information p {
        font-size: 1.15em;
    }

    .title {
        grid-area: title;
    }

    .title p {
        font-size: 0.95em;
    }

    .characteristics {
        grid-area: characteristics;
    }

    .introduction {
        grid-area: introduction;
    }

    .emphasis {
        grid-area: emphasis;
    }

    .quote {
        grid-area: quote;
    }

    .p1 {
        grid-area: p1;
    }

    .p2 {
        grid-area: p2;
    }

    .attributes {
        grid-area: attributes;
    }

    .information {
        grid-area: information;
    }

    .wolf-1 {
        grid-area: wolf-1;
    }

    .wolf-2 {
        grid-area: wolf-2;
    }

    .wolf-3 {
        grid-area: wolf-3;
    }

    /* Rodapé */
    .footer {
        font-size: 1.1em;
    }
}

/* Tablets em modo paisagem */
@media screen and (min-width: 768px) {
    /* Estrutura */
    .estrutura {
        display: grid;
        grid-template-areas:
        "header header"
        "sidenav content"
        "sidenav ads"
        "footer footer";
    }

    /* Barra de navegação */
    .sidenav {
        padding: 30px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
    }

    .sidenav::before {
        content: "";
    }

    .sidenav img {
        margin: 0 0 30px 0;
    }

    /* Rodapé */
    .footer {
        font-size: 1.2em;
    }
}