@charset "UTF-8";

/* Tablets em modo retrato */
@media screen and (min-width: 600px) {
    /* Cabeçalho */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }
    
    header > img {
        max-width: 250px;
        width: 40%;
        min-width: 220px;
    }
    
    header > nav {
        width: 270px;
    }
    
    header > nav > ul {
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, auto);
        list-style-type: none;
    }
    
    header > nav > ul > li > a {
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        font-size: 1.05em;
        font-size: clamp(1em, 0.3em + 3vw, 1.15em);
        text-decoration: none;
        color: white;
    }
    
    header > nav > ul > li > a:hover {
        outline: none;
        background-color: rgba(0, 0, 0, 0.445);
    }

    section#icons {
        grid-area: Icones;
        padding-left: 20px;
        overflow-x: auto;
        display: flex;
    }

    /* Barra de navegação */
    section#icons {
        overflow-x: hidden;
    }

    /* Conteúdo Principal */
    article {
        display: grid;
        grid-template-areas: 
        "title caracteristicas"
        "introducao introducao"
        "lobo1 destaque"
        "lobo1 lobo2"
        "p1 p2"
        "citacao citacao"
        "lista sect-p"
        "lobo3 lobo3";
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 30px;
    }

    article > section#title {
        grid-area: title;
    }

    article > section#title > p {
        font-size: 0.95em;
    }

    article > section#caracteristicas {
        grid-area: caracteristicas;
    }

    article > p#introduction {
        grid-area: introducao;
    }

    article > p#destaque {
        grid-area: destaque;
    }

    article > blockquote {
        grid-area: citacao;
    }

    article > p {
        font-size: 1.15em;
    }

    article p.p1 {
        grid-area: p1;
    }

    article p.p2 {
        grid-area: p2;
    }

    article > img {
        align-self: end;
    }

    article > img#lobo1 {
        grid-area: lobo1;
    }

    article > img#lobo2 {
        grid-area: lobo2;
    }

    article > img#lobo3 {
        grid-area: lobo3;
    }

    /* Rodapé */
    footer {
        font-size: 1.1em;
    }
}

/* Tablets em modo paisagem */
@media screen and (min-width: 768px) {
    /* Estrutura */
    main#estrutura {
        display: grid;
        grid-template-areas: 
        "Cabeçalho Cabeçalho"
        "Icones Conteudo"
        "Icones Anuncios"
        "Rodape Rodape";
    }

    /* Barra de navegação */
    section#icons {
        padding: 30px;
        overflow-x: none;
        display: flex;
        flex-direction: column;
    }

    section#icons > img {
        margin: 0 0 30px 0;
    }

    /* Rodapé */
    footer {
        font-size: 1.2em;
    }
}